


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Scheherazade+New:wght@400;500;600;700&family=Signika:wght@300..700&display=swap');


@import "tailwindcss";

@theme {

  --font-arial:arial;
  --font-scheherazade:scheherazade,"Scheherazade New";
  --font-cormorant:cormorant;
--color-altin:#ad925b;
--color-beyaz:#f8f6ec;
--color-kalin:#b4a46c;
--color-sertaltin:#af9057;
--color-ten:#dcc3a7;
--breakpoint-xxs:400px;
--breakpoint-xs:600px;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .custom-arch {
    clip-path: path("M0,100 Q50,0 100,100 V100 H0 Z");
  }
 
  
  
}

@media screen and (max-width: 450px) {
  .swiper-button-next, .swiper-button-prev {
    width: 40px !important;
    height: 40px !important;
    bottom: 10px !important; /* Daha küçük bir değer ile yukarıya kaydırma */
    position: absolute !important;
  }

  .swiper-button-next::after, .swiper-button-prev::after {
    font-size: 25px !important;
  }

}
